<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>formentry</id>
	<name>FormEntry</name>
	<version>2.5</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Ben Wolfe</author>
	<description>
			OpenMRS FormEntry Module
	</description>
	<activator>@MODULE_PACKAGE@.FormEntryActivator</activator>

	<updateURL>https://dev.openmrs.org/modules/download/formentry/update.rdf</updateURL>
	<!-- /Base Module Properties -->
	
	<require_version>1.1.10.2121</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.FormEntryAdminExt</class>
	</extension>
	<extension>
		<point>org.openmrs.admin.forms.formHeader</point>
		<class>@MODULE_PACKAGE@.extension.html.FormEntryFormHeaderExt</class>
	</extension>
	<extension>
		<point>org.openmrs.admin.forms.formRow</point>
		<class>@MODULE_PACKAGE@.extension.html.FormEntryFormRowsExt</class>
	</extension>
	<extension>
		<point>org.openmrs.admin.forms.formListHeader</point>
		<class>@MODULE_PACKAGE@.extension.html.FormEntryFormListHeaderExt</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>@MODULE_PACKAGE@.extension.html.FormEntryPatientDashboardTabExt</class>
	</extension>
	<!-- /Extensions -->
	
	
	<!-- AOP -->
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	
	<!-- /AOP -->
	
	
	<!-- Required Privileges -->
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	<privilege>
		<name>Upload XSN</name>
		<description>Allows user to upload/overwrite the XSNs defined for forms</description>
	</privilege>
	<privilege>
		<name>Patient Dashboard - View Forms Section</name>
		<description>Allows user to view the Forms tab on the patient dashboard</description>
	</privilege>
	<!-- /Required Privileges -->


	<!-- Required Global Properties -->
	<globalProperty>
		<property>@MODULE_ID@.infopath_output_dir</property> <!-- Must start with `moduleId.` -->
		<defaultValue></defaultValue>
		<description>This property should point to a filesystem directory.  When an XSN is uploaded for a form it will be saved here.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.infopath_server_url</property> <!-- Must start with `moduleId.` -->
		<defaultValue></defaultValue>
		<description> When uploading an XSN, this url is used as the "base path".  (Should be something like http://localhost:8080/openmrs)</description>
	</globalProperty>
	<globalProperty>
		<!--  TODO This property is stupid.  Remove this in favor of a message bundle -->
		<property>@MODULE_ID@.infopath_taskpane_caption</property> <!-- Must start with `moduleId.` -->
		<defaultValue>Welcome!</defaultValue>
		<description>The text seen in the infopath taskpane upon first logging in</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.infopath_archive_date_format</property> <!-- Must start with `moduleId.` -->
		<defaultValue>dd-MMM-yyyy-HHmmss</defaultValue>
		<description></description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.infopath_archive_dir</property> <!-- Must start with `moduleId.` -->
		<defaultValue></defaultValue>
		<description>
			This property should point to a filesystem directory. If undefined (empty), XSNs will not be archived.
			If the directory is defined and available, every time an XSN is uploaded the old XSN
			will be renamed and copied to this directory.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.infopath_taskpane_refresh_sec</property> <!-- Must start with `moduleId.` -->
		<defaultValue></defaultValue>
		<description>
			The number of seconds between taskpane refreshes.  This keeps the taskpane from
			logging people out on longer forms
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.infopath_taskpane_keepalive_min</property> <!-- Must start with `moduleId.` -->
		<defaultValue></defaultValue>
		<description>
			The number of minutes to keep refreshing the taskpane before allowing 
			the login to lapse
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.patientForms.goBackOnEntry</property> <!-- Must start with `moduleId.` -->
		<defaultValue>false</defaultValue>
		<description>
			'true' means have the browser go back to the find patient page after picking a form
			from the patientForms tab on the patient dashboard page
		</description>
	</globalProperty>
	<!-- /Required Global Properties -->
	

	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="@MODULE_PACKAGE@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>forms</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.XsnDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>formUpload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>formEntryQueueDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormEntryQueueDownloadServlet</servlet-class>
	</servlet>
	
	<!-- #### TEMPORARY ACCESS TO QUEUE PROCESSING SERVLETS (Burke 3/18/2006) #### -->
	<servlet>
		<servlet-name>formEntryQueueProcessor</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormEntryQueueProcessorServlet</servlet-class>
	</servlet>
	<!-- #### TEMPORARY ACCESS TO QUEUE PROCESSING SERVLETS (Burke 3/18/2006) #### -->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
		FormEntryArchive.hbm.xml
		FormEntryQueue.hbm.xml
		FormEntryError.hbm.xml
	</mappingFiles>
	
</module>
